{% extends "base.html" %} 
{% load static %}
{% block 'principal' %}

<main>
  <div class="container">
    <div class="row">
      <div class="esquerda col-sm-6">
        <div class="home-esquerda">
          <div class="alert titulo" role="alert">
            <strong>Cadastro de Filiais</strong>
          </div>
          {% include "partials/mensagem.html" %}
          <form action="{% url 'cadastro_filial' %}" method="post" enctype='multipart/form-data'>{% csrf_token %}
            <div class="row">
              <div class="col-md">
                <label for="">Nome da Filial:</label>
                <input type="text" class="form-control sombra" value="" name="nome" placeholder="">
              </div>
              <div class="col-md">
                <label for="">CNPJ</label>
                <input type="text" name="cnpj" id="" class="form-control sombra">
              </div>
            </div>
            <br>
            <label for="">Rua</label>
            <input type="text" name="rua" id="" class="form-control sombra" placeholder="">
            <br>
            <div class="row">
              <div class="col-md">
                <label for="">Bairro:</label>
                <input type="text" class="form-control sombra" name="bairro" placeholder="">
              </div>
              <div class="col-md">
                <label for="">Número:</label>
                <input type="number" name="numero" id="" class="form-control sombra">
              </div>
            </div>
            <br>
            <label for="">Cidade</label>
            <input type="text" name="cidade" id="" class="form-control sombra" placeholder="">
            <br>
    
            <label for="">Foto de perfil:</label>
            <input type="file" name="foto" id="" class="form-control sombra">
            <br>
            <input type="submit" value="Cadastrar" class="botao-salvar">
            <a href="{% url 'home' %}" class="btn botao-cancelar">Voltar</a>
          </form>
        </div>
      </div>

      <div class="direita col-sm-6">
        <div class="img-direita">
          <img class="img-corpo" src="{% static 'img/soja1.jpg' %}" alt="">
        </div>
        
    </div>
  </div>
</main>

{% endblock 'principal' %}