{% extends "base.html" %} 
{% load static %}
{% block 'principal' %}

<!-- Begin page content -->
<main>
  <div class="container">
    <div class="row">
      <div class="esquerda col-sm-6">
        <div class="home-esquerda">
        <div class="alert titulo" role="alert">
          <strong>Lançamento a ser alterado</strong>
      </div>
      {#==========================================================================#}
      <div id="tabela">
        <table class="table table-bordered" style="border: solid 0.5px #f08c00;">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Data</th>
                    <th class="text-start">Unidade</th>
                    <th class="text-center" scope="col">Tergrasa</th>
                    <th class="text-center" scope="col">Termasa</th>
                    <th class="text-center" scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for i in saldos %}

                <tr>
                    {% if i.id == idd %}
                    <td class="text-center" style="color:blue">{{i.data_formatada}}</td>
                    <td class="text-start" style="color:blue">{{i.filial.nome}}</th>
                    <td class="text-center" style="color:blue">{{i.tergrasa}}</td>
                    <td class="text-center" style="color:blue">{{i.termasa}}</td>
                    <td class="text-center">
                        <input class="botao-cancelar" type="reset" onclick="location.href='/unidades/home'"
                            value="Cancelar">
                    </td>
                    {% else %}
                    <td class="text-center" scope="row">{{i.data_formatada}}</td>
                    <td class="text-start">{{i.filial.nome}}</th>
                    <td class="text-center">{{i.tergrasa}}</td>
                    <td class="text-center">{{i.termasa}}</td>
                    <td class="text-center"></td>
                    {% endif %}
                </tr>
                {% endfor i %}
                <tr>
                    <th colspan="2" class="text-center">Total</th>
                    <th class="text-center">{{tg}}</th>
                    <th class="text-center">{{tm}}</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
      
      </div>
      <div class="direita col-sm-6">
      <div class="home-direita">
        <div class="alert titulo" role="alert">
            <strong>Valor a ser alterado</strong>
        </div>
        <br>
       {#========= Mensagem ============#}
       {% include "partials/mensagem.html" %}
       {#================================#}
       <form action="{% url 'editar_saldo' saldo_editado.id %}" method="post">{% csrf_token %}
        <label for="">Data agendamento:</label>
        <label type="date" name="data" id="" style="color:blue; background-color:aliceblue;"
            class="form-control sombra">{{saldo_editado.data | date:"d/m/Y"}}</label>
        <br>
        <label for="">Filiais</label>
        <label type="text" name="data" id="" style=" color:blue; background-color:aliceblue;"
            class="form-control sombra">{{saldo_editado.filial}}</label>
        <br>
        <label for="">TERGRASA</label>
        <input type="number" name="tergrasa" style="color:blue;" class="form-control sombra"
            value="{{saldo_editado.tergrasa}}" placeholder="">
        <br>
        <label for="">TERMASA</label>
        <input type="number" name="termasa" style="color:blue;" class="form-control sombra"
            value="{{saldo_editado.termasa}}" placeholder="">
        <br>

        <input type="submit" value=" Salvar  " class="botao-salvar">
        <a href="{% url 'home' %}" class="botao-cancelar">Cancelar</a>
    </form>
    </div>
      </div>
    </div>
  </div>
</main>

{% endblock 'principal' %}