{% extends "base.html" %} 
{% load static %}


{% block 'principal' %}

<!-- Begin page content -->
<main>
  <div class="container">
    <div class="row">
      <div class="esquerda col-sm-6">
        <div class="home-esquerda">
        <div class="alert titulo" role="alert">
          <strong>Saldo pendente de agendamento</strong>
      </div>
      {#==========================================================================#}
      <div id="tabela">
          <table class="table table-bordered" style="border: solid 0.5px #f08c00;">
              <thead>
                  <tr>
                      <th scope="col" class="text-center">Data</th>
                      <th class="text-start">Unidade</th>
                      <th class="text-center" scope="col">Tergrasa</th>
                      <th class="text-center" scope="col">Termasa</th>
                      <th class="text-center" scope="col">Ação</th>
                  </tr>
              </thead>
              <tbody>
                  {% for i in saldos %}
                  <tr>
                      <td class="text-center" scope="row">{{i.data_formatada}}</td>
                      <td class="text-start">{{i.filial.nome}}</th>
                      <td class="text-center">{{i.tergrasa}}</td>
                      <td class="text-center">{{i.termasa}}</td>
                      <td class="text-center">
                      <input class="botao-salvar" type="reset"
                          onclick="location.href='/unidades/editar_saldo/{{i.id}}'" value="Alterar">
                      </td>
                  </tr>
                  {% endfor i %}
                  <tr>
                      <th colspan="2" class="text-center">Total</th>
                      <th class="text-center">{{tg}}</th>
                      <th class="text-center">{{tm}}</th>
                      <th></th>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
      
      </div>
      <div class="direita col-sm-6">
      <div class="home-direita">
        <div class="alert titulo" role="alert">
          <strong>Lançar saldo pendente</strong>
      </div>
       {#========= Mensagem ============#}
       {% include "partials/mensagem.html" %}
       {#================================#}
      <form action="{% url 'home' %}" method="post">{% csrf_token %}
          <br>
          <label for="">Data agendamento:</label>
          <input type="date" name="data" id="" value="{{ data_atual }}" class="form-control sombra" value="">
          <br>
          <label for="">Filiais</label>
          <select name="filial" class="form-select sombra" id="">
              <option value="">----------</option>
              {% for i in filiais %}
              <option value="{{i.id}}">{{i.nome}}</option>
              {% endfor %}
          </select>
          <br>
          <label for="">TERGRASA (peso em toneladas)</label>
          <input type="number" name="tergrasa" class="form-control sombra" value="" placeholder="">
          <br>
          <label for="">TERMASA (peso em toneladas)</label>
          <input type="number" name="termasa" class="form-control sombra" value="" placeholder="">
          <br>
          <input type="submit" value=" Salvar  " class="botao-salvar">
          <a href="{% url 'home' %}" class="botao-cancelar">Cancelar</a>
      </form>
    </div>
      </div>
    </div>
  </div>
</main>

{% endblock 'principal' %}
