{% load static %}
{# <nav class="navbar navbar-expand-lg navbar-dark dark-color"> #}
  <nav class="navbar navbar-expand-lg navbar-dark bg-color-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}" style="color:#f0cbcb;"><img style="border-radius: 13px;"
          src="{% static 'img/logo_jpg.jpg' %}" width="20%" alt="" />&nbsp&nbspFALTA AGENDAR NO SISTEMA PAMPA</a>
      <a class="nav-link active" style="color:#f0cbcb; padding: 15px;" href="{% url 'home' %}">Home</a>
      <a class="nav-link active" style="color:#f0cbcb; padding: 15px;" aria-current="page"
        href="{% url 'cadastro_filial' %}">Filiais</a>
      <a class="nav-link active" style="color:#f0cbcb; padding: 15px;  margin-right: 1px;" href=""> Usuario:
        {{user.username}} </a>

      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav" style="margin-right: 80px;">

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" style="color:#f0cbcb; padding: 15px; margin-right: 1px;"
              href="{% url 'sair' %}">Sair</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" style="color:#f0cbcb; padding: 15px;" href="{% url 'login' %}">Entrar</a>
          </li>
          {% endif %}

        </ul>

      </div>
    </div>
  </nav>