:root{
    --letra-logo: #e85222;
    --main-color: #0d8b44;
    --main-color1: #d9f1e3;
    --dark-color: #0d8b44;
    --dark-color1: #09775c;
    --contrast-color: #FFD686;
    --azul-color111: #09A6A3;
    --main-color111111111: #00CCBE;
    --vermelho-color: #f1b4b4;
    --vermelho1-color: #e7384a;
    --laranja-color: #ee8f13;
    --amarelo-color: #ffd24a;
}
.bg-color-dark{
    background-color: var(--main-color);
}
.p-bold{
    font-weight: bold;
}
.color-dark{
    color: var(--dark-color);
}