{% extends "base.html" %} 
{% load static %}
{% block 'principal' %}

<main>
  <div class="container">
    <div class="row">
      <div class="esquerda col-sm-6">
        <div class="home-esquerda">
            <div class="alert titulo" role="alert">
                <strong>Cadastre-se</strong>
            </div>
         
          {% include "partials/mensagem.html" %}

          <form action="{% url 'cadastro' %}" method="post">{% csrf_token %}
            <label for="">Usuario</label>
            <input type="text" name="username" id="" class="form-control sombra" placeholder="">
            <br>
            <label for="">Nome</label>
            <input type="text" name="first_name" id="" class="form-control sombra" placeholder="">
            <br>
            <label for="">E-mail</label>
            <input type="text" name="email" id="" class="form-control sombra" placeholder="">
            <br>
            <div class="row">
                <div class="col-md">
                    <label for="">Senha</label>
                    <input type="password" name="senha" class="form-control sombra" placeholder="">
                </div>
                <div class="col-md">
                    <label for="">Confirmar senha</label>
                    <input type="password" name="confirmar_senha" class="form-control sombra"
                        placeholder="" id="">
                </div>
            </div>
            <br>
            <input type="submit" value="Cadastrar" class="botao-salvar">
                <a href="{% url 'login' %}" class="botao-nao-tenho-conta">Ja possuo conta</a>
        </form>
        </div>
      </div>

      <div class="direita col-sm-6">
        <div class="img-direita">
          <img class="img-corpo" src="{% static 'img/soja7.jpg' %}" alt="">
        </div>
        
    </div>
  </div>
</main>

{% endblock 'principal' %}