{% extends "base.html" %} 
{% load static %}
{% block 'principal' %}

<main>
  <div class="container">
    <div class="row">
      <div class="esquerda col-sm-6">
        <div class="home-esquerda">
          <div class="alert titulo" role="alert">
            <strong>Login</strong>
          </div>
         
          {% include "partials/mensagem.html" %}

          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <br>
            <label for="">Username</label>
            <input type="text" name="username" id="" class="form-control sombra" placeholder="">
            <br>
            <label for="">Senha</label>
            <input type="password" name="senha" class="form-control form-control sombra" placeholder="">
            <br>
            <input type="submit" value="Logar" class="botao-salvar">
            <a href="{% url 'cadastro' %}" class="botao-nao-tenho-conta">Não possuo conta</a>
          </form>
        </div>
      </div>

      <div class="direita col-sm-6">
        <div class="img-direita">
          <img class="img-corpo" src="{% static 'img/soja1.jpg' %}" alt="">
        </div>
        
    </div>
  </div>
</main>

{% endblock 'principal' %}